# Google OAuth Credentials
# You can get these from the Google Cloud Console: https://console.cloud.google.com/

GOOGLE_CLIENT_ID=783554535104-h5srfkqp7hfvi0bhro0mqb773j4pdr54.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017/auralis_db

# Flask Secret Key
SECRET_KEY=dev_secret_key_change_in_production
